a{
    color: green;
    font-size: 1.2em;
}

a:hover,:link{
    color: red;
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

body{
    background-color: honeydew;
}

#copyright{
    font-size: 80%;
    color: gray;
}

h1{
    text-decoration: underline;
    font-size: 3em;
}

img {
    border: 1px dashed blue;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

li{
    font-size: 20px;
    color: darkblue;
}

p{
    font-size: 20px;
    color: darkblue;
}